@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family: 'DM Sans',
    'Cormorant Garamond', sans-serif;
}


@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/CormorantGaramond-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.ttf") format("opentype");
}

/*-------------- HeroSection.css */

/*-------------- AllClasses.css */
.all-classes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
}

.all-classes-main-title {
  font-size: 35px;
  font-weight: 500;
  color: #12353D;
}

.all-classes-nav-buttons {
  display: flex;
  gap: px;
}

.all-classes-nav-button {
  display: flex;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #D7DFDE;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.all-classes-nav-button svg {
  color: #2F5852;
}


.all-classes-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: 282px;
  height: 143px;
  border: 1px solid rgba(124, 188, 200, 0.50);
  flex-shrink: 0;
  font-family: "Cormorant Garamond", serif;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.all-classes-container:hover {
  background-color: #ebf7f9;
}

.all-classes-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  /* Simulating stroke-width */
  background-color: #73A9AF;
  /* Stroke color */
  transition: width 0.3s ease-in-out;
}

.all-classes-container:hover::after {
  width: 100%;
}


.all-classes-title {
  width: 250px;
  height: 60px;
  font-size: 24px;
  font-weight: 500;
  color: #12353D;
  width: 250px;
  height: 60px;
  font-style: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  line-height: 1.2;
}

.all-classes-code {
  display: flex;
  flex-shrink: 0;
  width: 77px;
  height: 32px;
  border-radius: 9999px;
  background-color: #FFF48F;
  font-family: "DM Sans", sans-serif;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #A89700;
}

.all-classes-button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid rgba(47, 88, 82, 0.19);
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(21, 86, 98, 0.10);
  color: #6b7280;
  transition: color 0.3s ease-in-out;
}

.all-classes-button:hover {
  color: #000000;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* -------------- End AllClasses.css */

/* -------------- BookGrid.css */
.book-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0px 0px 0px 0px;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: auto;
  padding: 10px;
  border-radius: 8px;
  /* transition: all 0.3s ease-in-out; */
  cursor: pointer;
}

.book-card:hover .book-title {
  text-decoration: underline;
}

.book-image-wrapper {
  position: relative;
  /* transition: all 0.3s ease-in-out; */
}

.book-image {
  object-fit: contain;
  /* transition: transform 0.3s ease-in-out; */
}

.book-card:hover .book-image {
  /* transform: scale(1.05); */
}

.book-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-info {
  margin-top: 10px;
}

.book-code {
  font-size: 14px;
  color: #2f585299;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.book-title {
  font-size: 18px;
  color: #12353d;
  width: auto;
  height: auto;
  transition: all 0.3s ease-in-out;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.54px;
  text-overflow: ellipsis;
  margin-top:5px;
  font-family: "Cormorant Garamond", serif;
}

/* -------------- End BookGrid.css */