@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family: 'DM Sans', 
               'Cormorant Garamond', sans-serif;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/CormorantGaramond-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.ttf") format("opentype");
}
.shadow-custom {
  border-radius: 4.586px;
  background: radial-gradient(107.53% 62.91% at -0.26% -0.33%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #76B041;
  box-shadow: 7.2px 7.2px 2.88px 0px rgba(0, 0, 0, 0.10);
}